@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
}


#root {
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  /* font-family: monospace; */
  font-size: calc(60% + 1.2vmin);

}



html,
body {
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: space-between; */
  background-image: url('./assets/bg.jpeg');
  /* background-image: url('https: //res.cloudinary.com/dlqzrsajl/image/upload/v1701976029/bg_y4ek4v.jpg'); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

}

.main {
    /* width: 50vw;
    height: 50vh;
    height: calc(var(--vh, 1vh) * 50); */
}

.card, button {
  box-shadow: -1px 4px 5px 0px;
}

.button:actve, button:active{
  transform: translate(5%, 5%);
}


.parent {
  position: relative;

}

 .parent  img {
  width: 20rem;
  margin: auto;
}

#bowlImg img {
  width: 25rem;
}


.food {
  position: absolute;
  left: 0;
  bottom: .5rem;
  transform: scale(1.1);
}

/* @media screen and (min-width:320px) and (max-width:640px) {
#root {
    height: 100vh;
  }
} */

@media screen and (max-height:658px)  {
  #root{
   height: 100vh;
  }
}
